html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: grey;
  font-family: "Poppins";
  background-image: url("assets/images/portefolio-bg.png");
  background-size: cover;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto slab";
  src: local("Roboto slab"), url("./assets/fonts/roboto/RobotoSlab-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("./assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}
@media only screen and (min-width: 1400px) {
  body {
    margin-left: 200px;
    margin-right: 200px;
  }
}
.primary {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 200px;
}
.primary .primary-container {
  border-radius: 20px;
  background-color: #fff;
  margin: 25px;
}

#primary-container__bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 700px;
  gap: 20px;
}
#primary-container__bio #primary-container__photo {
  margin-top: -160px;
  margin-bottom: 40px;
  border-radius: 20px;
  width: 240px;
  height: 240px;
}
#primary-container__bio #primary-container__name {
  font-family: "Roboto slab";
  font-size: 26px;
}
#primary-container__bio #primary-container__job {
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  text-transform: capitalize;
  background-color: #f3f6f6;
  border-radius: 5px;
  padding: 10px 15px;
}
#primary-container__bio #primary-container__media {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#primary-container__bio #primary-container__media li {
  background-color: #f3f6f6;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
#primary-container__bio #primary-container__media li img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
#primary-container__bio #primary-container__donnee {
  width: 340px;
  background-color: #f3f6f6;
  padding: 10px;
  border-radius: 20px;
}
#primary-container__bio #primary-container__donnee hr {
  width: 80%;
}
#primary-container__bio #primary-container__donnee .primary-container__item2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#primary-container__bio #primary-container__donnee .primary-container__item2 .data-logo img {
  width: 44px;
  height: 44px;
}
#primary-container__bio #primary-container__donnee .primary-container__item2 h3 {
  display: block;
  font-size: 12px;
  line-height: 18px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 3px;
}
#primary-container__bio #primary-container__donnee .primary-container__item2 p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0;
}
#primary-container__bio .primary-container__button {
  cursor: pointer;
  background: linear-gradient(97deg, #fa5252, #dd2476);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 27px;
  padding: 14px 30px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.test {
  display: flex;
  flex-direction: row;
}

#primary-container__nav {
  width: 144px;
  height: 490px;
  padding-top: 35px;
}
#primary-container__nav .primary-container__nav-button {
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
  margin-bottom: 40px;
  border: 1px solid transparent;
  color: #44566B;
  font-size: 13px;
  font-family: "Poppins";
  gap: 10px;
}
#primary-container__nav .primary-container__nav-button img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
  height: 50%;
}

#primary-container__main {
  width: 800px;
  padding: 60px;
}
#primary-container__main h2 {
  position: relative;
  display: inline-block;
  font-family: "Roboto slab";
  font-size: 40px;
  margin-top: 0;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 15px;
}
#primary-container__main p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #44566c;
}
#primary-container__main ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#primary-container__main ul li {
  width: 310px;
  height: 195px;
  border-radius: 12px;
  display: flex;
  padding: 30px 20px 20px 15px;
  margin-bottom: 30px;
  background-color: grey;
}
#primary-container__main ul li img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
#primary-container__main ul li h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins";
  color: black;
  margin-top: 0;
  line-height: 1.5;
  font-weight: 700;
}
#primary-container__main ul li p {
  font-size: 16px;
  margin: 10px;
}