.primary{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 200px;
    .primary-container{
        border-radius: 20px;
        background-color: #fff;
        margin: 25px;
        }
}
/* Styles généraux du formulaire */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f6f6;
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 150px;
  }
  
  input[type="submit"] {
    background-color: #1b74e4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #095da7;
  }
  
  /* Réponses automatiques pour l'accessibilité */
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    border-color: #1b74e4;
    box-shadow: 0 0 5px rgba(27, 116, 228, 0.5);
  }
  